<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>handling forms</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <script src="{{url_for('static',filename='script.js')}}"></script>
</head>
<body>
    <h1>Fill this Form</h1>
    <form action="/form" autocomplete="off" method="post">
        <input type="text" name="username" placeholder="Enter Username">
        <input type="password" name="password" placeholder="Enter password">
        <button type="submit">Log In</button>
    </form>

</body>
</html>