*{
    background-color: rgb(172, 235, 235);
}
h1{
    background-color: rgb(193, 127, 255);
}
h2{
    background-color: rgb(113, 88, 236);
}
h3{
    background-color: rgb(140, 230, 157);
}
h4{
    background-color: rgb(79, 172, 206);
}
th{
    background-color: rgb(214, 87, 204);
}
td{
    background-color: rgb(249, 219, 219);
}