*{
    background-color: bisque;
}
p{
    background-color: rgb(149, 236, 236);
}
a{
    background-color: rgb(199, 140, 254);
}
span{
    background-color: rgb(223, 147, 147);
}
div{
    background-color: aquamarine;
}
h1{
    background-color: rgb(157, 86, 224);
}





