.red{
    background-color: rgb(221, 153, 153);
}
/* .yellow{
    background-color: rgb(39, 85, 125);
} */
#s1{
    background-color: aquamarine;
}
#s2{
    background-color: blueviolet;
}
#s3{
    background-color: brown;
}
.yellow{
    background-color: rgb(39, 85, 125);
}








































