<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinja2</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
        <form action="/" autocomplete="off" method="post">
        <input type="text" name="Cname" placeholder="enter your name">
        <br>
        <br>
        <input type="password" name="Cpass" placeholder="enter password">
        <br>
        <br>
        <button type="submit">log in</button>
    </form>
</body>
</html>