<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QueryStrings</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>

    <form action="/" autocomplete="off" method="post">
        <input type="text" name="user" placeholder="enter your name">
        <br>
        <br>
        <input type="password" name="psw" placeholder="enter password">
        <br>
        <br>
        <button type="submit">log in</button>
    </form>

    <hr>
    <hr>
    <h2>your name is : {{nameJ}} & subject is {{sub}} </h2>

    <h4>btw css kamal ki aati hai mujhe haha.....</h4>
</body>

</html>