<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="static/style.css">
    <script src="static/app.js"></script>

</head>
<body>
    <h1>Namaste! This is Saumya Pandey.</h1>
    <p>I am learning flask, and I am to complete it within 3 days, yeah I know it is not possible to deep dive into it in just 3 days, but one of my friends told me that 3 hours are enough to get the basic idea of flask and after this I have to get the idea of ML also within these 3 days, bro my friend is more experienced that's why I thought - Okay, let's just do it. Now without wasting any more time I am going to learn more about flask and ending the story session, byeeeee.... </p>

    <footer><i>Rendered from index.html</i></footer>
</body>
</html>